@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
    background-color: gainsboro;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
} 

a,
ul,
a:visited {
    list-style: none;
    color: white;
    text-decoration: none;          
}

.header {
    background: #134d3f;
    background: linear-gradient(90deg, rgb(16, 68, 57) 0%, rgb(35, 131, 83) 100%);
    padding: 7px 20px;
}

.ul1 {
    display: flex;
}

.img-logo {
    height: 40px;   
}

.li2 {
    padding: 5px;
    padding-left: 20px;
}

.enviar {
    font-family: 'Roboto';
    font-size: 11px;
}

.puerto {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13px;
}

.li3 {
    padding: 10px;
}

.todos {
    margin-left: 15px;
    margin-top: -15px;
    padding: 9px;
    background-color: rgb(212, 212, 212);
    border:none;
}

.form {
    width: 1000px;
}

.input {
    margin-top: 3px;
    margin-left: -10px;
    width: 100%;
    height: 35px;
    border: none;
    padding: 7px;
}

.lupa {
    width: 40px;
    margin-top: 2px;
    margin-left: -10px;
    padding:11px;
    background-color: rgb(150, 21, 107);
    border: none;
}

.li3-4 {
    padding: 3px 15px;
}

.hola-gonzalo {
    font-family: 'Roboto';
    font-size: 11.5px;
    font-weight: 400;
}

.cuenta-listas {
    display: block;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 700;
}

.devo {
    font-family: 'Roboto';
    font-size: 11.5px;
    font-weight: 400;
}

.pedidos {
    display: block;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 700;
}

.carrito {
    padding: 5px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 700;
}

.header2 {
    background: #134d3f;
    background: linear-gradient(90deg,rgb(8, 94, 83) 0%, rgba(27, 92, 79, 1) 100%);
    padding: 6px 20px;
}

.ul2 {
    display: flex;
}

.li4 {
    padding: 3px 15px;
}

.burger {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 700;
}

.li5 {
    padding: 3px 15px;
}

.zona {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li6 {
    padding: 3px 15px;
}

.ofertas {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li7 {
    padding: 3px 15px;
}

.comprar {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li8 {
    padding: 3px 15px;
}

.gonzalo {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}
.li9 {
    padding: 3px 15px;
}

.historial {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li10 {
    padding: 3px 15px;
}

.regalo {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li11 {
    padding: 3px 15px;
}

.servicio {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li12 {
    padding: 3px 15px;
}

.vender {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.li13 {
    padding: 3px 15px;
}

.prime {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}

.hero {
    margin-left: 200px;
}

.img-hero {
    height: 600px;
    align-items: center;
    justify-items: center;
}

.cards {
    display: flex;
}

.card1 {
    position: absolute;
    margin-left: 220px;
    margin-top: -350px;
    background-color: white;
    width: 350px;
    height: 420px;
}

.card2 {
    position: absolute;
    margin-left: 590px;
    margin-top: -350px;
    background-color: white;
    width: 350px;
    height: 420px;
}

.card3 {
    padding-left: 20px;
    margin-left: 960px;
    margin-top: -350px;
    background-color: white;
    width: 350px;
    height: 420px;
}

.card4 {
    position: absolute;
    margin-left: 1330px;
    margin-top: -350px;
    background-color: white;
    width: 350px;
    height: 420px;
}


.h3 {
    display: block;
    padding: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
}

.g1 {
    padding: 10px;
    display: flex;
    font-family: 'Arial';
    font-size: 12px;
    gap: 15px;
}

.img1-1 {
    height: 130px;
    margin-bottom: 10px;
}

.img1-2 {
    height: 130px;
    margin-top: 55px;
}

.img3-1 {
    height: 130px;
    margin-top: -20px;
}

.img3-2 {
    height: 130px;
    margin-top: -20px;
}

.img3-3 {
    height: 130px;
    margin-top: -20px;
}

.img3-4 {
    height: 130px;
    margin-top: -20px;
}


.ver3,
.ver3:visited {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(86, 113, 172);
    padding: 10px;
    font-weight: 300;
}
.img1-2 {
    height: 75px;
    margin-bottom: 10px;
}

.g2 {
    padding: 10px;
    display: flex;
    font-family: 'Arial';
    font-size: 12px;
    gap: 15px;
}

.img1-3 {
    margin-bottom: 10px;
}

.img1-4 {
    margin-bottom: 10px;
}

.ver,
.ver:visited {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(86, 113, 172);
    padding: 10px;
    font-weight: 300;
}

.ver2,
.ver2:visited {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(86, 113, 172);
    padding: 20px;
    font-weight: 300;
}


.img2-1 {
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 270px;
}

.p-gray {
    color: rgb(122, 122, 122);
}